<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body {background-color: #ffcc66;}
        h2 {font-family: "Arial", Arial, sans-serif;}
        h2 {font-style: bold,;}
        h1 {font-size: 24px;}
        ol {font-style: normal;}
        li {font-style: italic;}

    </style>
</head>
<body>
{{^name}}
Welcome!! Login below to add a messages, reminders, and whathaveyou's!<br>
<form action="/login" method="post">
    <input type="text" placeholder="Enter Username" name="userName"/>
    <button type="submit">Login</button>
</form>
{{/name}}

{{#name}}
<h2>
    {{.}}, you can now create some messages, reminders, or whathaveyou's!
</h2>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>

<form action="/add-message" method="post">
    <input type="text" placeholder="Add message here..." name="addMessage"/>
    <button type="submit">Make it official</button>
</form>

<ol>
    {{#messages}}
    <li>{{text}}
        <form action="/delete-message" method="post">
            <input type="hidden" value={{id}} name="id"/>
            <button type="submit">X</button>
        </form>
    </li>
    {{/messages}}
</ol>

{{/name}}
</body>
</html>